
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #009C8C;
    width: 100%;
    height: 50px;
    border-radius: 0 0 30px 30px;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: semi-bold;
}
